# ================ 系统 =====================
PORT=3000
AUTH_TOKEN=94d2c3e42bab07e9a6ea55ae790d493ba0e10e8a20052242ed0cb6298ebcdb4a
# 最大 API 请求体大小(MB)
MAX_API_SIZE=10
FASTGPT_BASE_URL=http://localhost:3000
# 工具网络请求，最大请求和响应体
SERVICE_REQUEST_MAX_CONTENT_LENGTH=10
# 工具网络请求超时时间(秒)
SERVICE_REQUEST_TIMEOUT=300
MAX_WORKER=8
MAX_MEMORYMB=1024
# 禁用 Dev 插件载入
DISABLE_DEV_TOOLS=false
# 禁用缓存
DISABLE_CACHE=false
# 检查内部 IP
CHECK_INTERNAL_IP=true
# 最大文件大小(Bytes)
MAX_FILE_SIZE=213483520

# ================ 代理 =====================
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=
ALL_PROXY=

# ================ 数据库 =====================
MONGODB_URI=mongodb://username:password@localhost:27017/fastgpt?authSource=admin&directConnection=true
MONGO_MAX_LINK=20
SYNC_INDEX=true
REDIS_URL=redis://default:password@localhost:6379/0

# ================ 日志 =====================
LOG_ENABLE_CONSOLE=true
# 控制台日志等级: "trace" | "debug" | "info" | "warning" | "error" | "fatal"
LOG_CONSOLE_LEVEL=info
LOG_ENABLE_OTEL=false
# OTEL 存储的最低日志等级
LOG_OTEL_LEVEL=info
LOG_OTEL_SERVICE_NAME=fastgpt-plugin
LOG_OTEL_URL=http://localhost:4318/v1/logs

# ================ 对象存储 =====================
STORAGE_VENDOR=minio
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY_ID=minioadmin
STORAGE_SECRET_ACCESS_KEY=minioadmin
STORAGE_PUBLIC_BUCKET=fastgpt-public
STORAGE_PRIVATE_BUCKET=fastgpt-private
STORAGE_EXTERNAL_ENDPOINT=http://localhost:9000
STORAGE_S3_ENDPOINT=http://localhost:9000
STORAGE_S3_FORCE_PATH_STYLE=true
STORAGE_S3_MAX_RETRIES=3
STORAGE_PUBLIC_ACCESS_EXTRA_SUB_PATH=

# ================ 其他 =====================
# Model provider sort
MODEL_PROVIDER_PRIORITY=
# AIProxy channel sort (channelId list, e.g. 36,33)
MODEL_CHANNEL_PRIORITY=